<h1><%= @user.first_name%> <%=  @user.last_name %>'s Profile</h1>

<p> <%= @user.email %> </p>

<%= link_to("Logout", sessions_logout_path) %>

<%= gravatar_for @user %>

<hr>
<h2>Your recent reviews:</h2>

<% if @user.reviews %>
  <ul class="review-list">
    <% @user.reviews.each do |review| %>
      <li><%= review.content %> <br><%= review.stars %> Grasshoppers!</li>
      <li>by: <%= review.reviewer.username %></li>
      <% end %>
  </ul>
<% else %>
  <p>There are no reviews to show</p>
<% end %>
