<script>
  $('#galleria').galleria({
    height: 400,
    width: 700
  });
</script>
<div class="heading-show">
  <h1 class="restaurant-name"><%= @restaurant.name %></h1>
  <p><%= @restaurant.description %></p>
  <h4><%= @tags %></h4>
  <div class="info">
    <%= @restaurant.street_address %>
    <br>
    <%= @restaurant.city %>, <%= @restaurant.state %>
    <%= @restaurant.zip_code %>
  </div>
</div>
<div class="media">
  <div id="map"></div>
  <div id="galleria" class="gallery">
    <% if @restaurant.photos.any? %>
      <% @restaurant.photos.each do |photo| %>
        <%= image_tag photo.food_image.to_s %>
      <% end %>
      <% else %>
        <%= image_tag('http://lorempixel.com/640/400/food') %>
    <% end %>
<div class="upload">
  <%= form_for [@restaurant, Photo.new], :html => {:multipart => true} do |f| %>
    <label>Upload Pictures of Your Food Adventures!</label>
    <%= f.file_field :food_image %>
    <%= f.submit %>
  <% end %>
</div>
</div>

<div class="reviews">

  <div class="review-heading">
    <span class="section-heading">Reviews</span>
    <br>
    <%= link_to "Write a Review", new_restaurant_review_path(:restaurant_id => @restaurant.id) %>
    <div class="tags">
      <% if !!session[:user_id] %>
        <%= form_tag('/tags/tag-restaurant', method: :post) do %>
          <%= hidden_field(:restaurant, :id) %>
          <%= select_tag "tag", options_from_collection_for_select(@tag_list, "id", "name") %>
          <%= submit_tag "Tag!" %>
        <% end %>
      <% end %>
    </div>
    <div class="upload">
      <%= form_for [@restaurant, Photo.new], :html => {:multipart => true} do |f| %>
        <label>Upload Pictures of Your Food Adventures!</label>
        <br>
        <%= f.file_field :food_image %><%= f.submit %>
      <% end %>
    </div>
  </div>
  
    <% @restaurant.reviews.each do |review| %>
    <div class="review-card">
      <div class="reviewer">
        <%= image_tag "http://placehold.it/98x98" %> <br>
        <%= review.reviewer.username %>
      </div>
      <div class="review-content">
      Score: <%= review.stars %> 
      <p><%= review.content %></p> 
      <%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe, {action: 'vote', :controller=>"reviews", id: review.id, vote: 1}, :method => :post, :remote => true, :class => "vote_btn"%>
      <br>
      <span id="<%=review.id%>-vote"><%= review.votes %></span>
      <br>   
      <%= link_to '<i class="fa fa-arrow-down"></i>'.html_safe, {action: 'vote', :controller=>"reviews", id: review.id, vote: -1}, :method => :post, :remote => true, :class => "vote_btn"%>
      </div> 
    </div>
    <% end %>
</div>

<span id="lat" style="display:none;"><%= @restaurant.latitude %></span>
<span id="lon" style="display:none;"><%= @restaurant.longitude %></span>
<span id="name" style="display:none;"><%= @restaurant.name %></span>

<script type="text/javascript">$(document).on("page:load", initMaps(), initGallery())</script>
