
<div class="heading-show">
  <h1 class="restaurant-name"><%= @restaurant.name %></h1>
  <%= @restaurant.description %>
  <h4><%= @tags %></h4>
  <div class="info">
    <%= @restaurant.street_address %>
    <br>
    <%= @restaurant.city %>, <%= @restaurant.state %>
    <%= @restaurant.zip_code %>
  </div>
</div>
<div class="media">
  <div id="map"></div>
  <div id="galleria">
    <% if @restaurant.photos.any? %>
      <% @restaurant.photos.each do |photo| %>
        <%= image_tag photo.food_image.to_s %>
      <% end %>
    <% end %>
<div class="upload">
  <%= form_for [@restaurant, Photo.new], :html => {:multipart => true} do |f| %>
    <label>Upload Pictures of Your Food Adventures!</label>
    <%= f.file_field :food_image %>
    <%= f.submit %>
  <% end %>
</div>
</div>

<div class="reviews">

  <div class="heading-show">
    <h2>Reviews</h2>
    <br>
    <%= link_to "Write a Review", new_restaurant_review_path(:restaurant_id => @restaurant.id) %>
  <span class="tags">
    <% if !!session[:user_id] %>
      <%= form_tag('/tags/tag-restaurant', method: :post) do %>
        <%= hidden_field(:restaurant, :id) %>
        <%= select_tag "tag", options_from_collection_for_select(@tag_list, "id", "name") %>
        <%= submit_tag "Tag!" %>
      <% end %>
    <% end %>
  </span>
  <span class="upload">
    <%= form_for [@restaurant, Photo.new], :html => {:multipart => true} do |f| %>
      <label>Upload Pictures of Your Food Adventures!</label>
      <%= f.file_field :food_image %><%= f.submit %>
    <% end %>
  </span>
  </div>
  <ul class="review-list">
    <% @restaurant.reviews.each do |review| %>
      <li><%= button_to "Upvote", {action: 'vote', :controller=>"reviews", id: review.id, vote: 1}, :method => :patch %></li>
      <li><%= review.votes %></li>
      <li><%= button_to "Downvote", {action: 'vote', :controller=>"reviews", id: review.id, vote: -1}, :method => :patch %></li>
      <li><%= review.content %> <br><%= review.stars %> Grasshoppers!</li>
      <li>by: <%= review.reviewer.username %></li>
      <% end %>
  </ul>

</div>

<span id="lat" style="display:none;"><%= @restaurant.latitude %></span>
<span id="lon" style="display:none;"><%= @restaurant.longitude %></span>
<span id="name" style="display:none;"><%= @restaurant.name %></span>

<script type="text/javascript">$(document).on("page:load", initMaps(), initGallery())</script>