<h1><%= @restaurant.name %></h1>
<h4><%= @tags %></h4>

<div class="map"></div>
<div class="photo"></div>
<div class="info">
  <%= @restaurant.description %>
  <br>
  <%= @restaurant.street_address %>
  <br>
  <%= @restaurant.city_state %>
  <%= @restaurant.zip_code %>
</div>
<%= link_to "Write a Review", new_restaurant_review_path(:restaurant_id => @restaurant.id) %>
<%= form_tag('/tags/tag-restaurant', method: :post) do %>
  <%= hidden_field(:restaurant, :id) %>
  <%= select_tag "tag", options_from_collection_for_select(@tag_list, "id", "name") %>
  <%= submit_tag "Tag!" %>
<% end %>
<div class="reviews">
  <ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <li>by: <%= review.reviewer.username %></li>
  <% end %>
  </ul>

</div>
