<!DOCTYPE html>
<html>
<head>
  <title>Chirp</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Oxygen:400,700,300' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render partial: "layouts/nav" %>
<body>
<%= yield %>

</body>
</html>
