<!DOCTYPE html>
<html>
<head>
  <title>Chirp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="brand"><%= link_to "Chirp", root_path %></div>
    <ul class="navbar-left">
      <% if session[:user_id] %>
        <li class="nav"><%= link_to "Log In", users_login_path %></li>
      <% else %>
        <li class="nav"><%= link_to "Log out", sessions_logout_path %></li>
      <% end %>
      <li class="nav"><%= link_to "Sign Up", new_user_path %></li>
    </ul>
  </header>
<%= yield %>

</body>
</html>
